{% extends "base.html" %}

{% block title %}
    Participantes
{% endblock %}

{% block container %}

    <!--emmet: meta lenguaje-->
    <h1>Lista de participantes: {{ participantes|length}}</h1>
    
    <div class="row">
        {% for p in participantes %}
            <div class="col-xl-3 col-lg-4 col-md-6 border mb-1">
                <h3 class="text-success">{{ p.nombre }} {{ p.apellido }}</h3>
                <a href="mailto:{{ p.correo }}">{{ p.correo }}</a>
                <br>
                <a href="https://twitter.com/{{ p.twitter }}" target="_blank">@{{ p.twitter }}</a>
            </div>
        {% empty %}
            <div class="alert alert-danger">
                no hay participantes
            </div>
        {% endfor %}
    </div>
{% endblock  %} ggh